{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if validlink %}
    <p>Введите новый пароль.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <table>
            <tr>
                <td>{{form.new_password1.errors}}
                    <label for="id_new_password1">Новый пароль:</label>
                </td>
                <td>
                    {{form.new_password1}}
                </td>
            </tr>
            <tr>
                <td>{{form.new_password2.errors}}
                    <label for="id_new_password2">Подтвердите пароль:</label>
                </td>
                <td>
                    {{form.new_password2}}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Смена пароля"></td>
            </tr>
        </table>
    </form>

{% else %}
    <h1>Ошибка смены пароля!</h1>
    <p>Ссылка на смену неверная, возможно она уже была использована. Попрубуйте снова.</p>
{% endif %}
    
  
{% endblock content %}